@model EasyLearning.WebApp.Areas.admin.Models.CourseViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/admin/Views/Shared/AdminViewShared.cshtml";
}

<h1 class="text-center ">Thêm khóa học</h1>
<hr />
<div class="container">
    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label class="control-label">Tên khóa học</label>
            <input asp-for="CoursesName" class="form-control" />
            <span asp-validation-for="CoursesName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CourseType">Hình thức:</label>
            <select asp-for="CourseType" class="form-control">
                <option value="@((int)EasyLearing.Infrastructure.Data.Entities.CourseEventType.Online)">Online</option>
                <option value="@((int)EasyLearing.Infrastructure.Data.Entities.CourseEventType.Offline)">Offline</option>
            </select>
            <span asp-validation-for="CourseType" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label"> Mô tả chi tiết</label>
            <input asp-for="CoursesDescription" class="form-control" />
            <span asp-validation-for="CoursesDescription" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Giá</label>
            <input asp-for="CoursesPrice" class="form-control" />
            <span asp-validation-for="CoursesPrice" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Yêu cầu</label>
            <input asp-for="Requirements" class="form-control" />
            <span asp-validation-for="Requirements" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Nội dung</label>
            <input asp-for="CoureseContent" class="form-control" />
            <span asp-validation-for="CoureseContent" class="text-danger"></span>
        </div>
        @* <div class="form-group">
            <label asp-for="Image" class="control-label">Hình ảnh</label>
            <input asp-for="Image" class="form-control" type="file" />
            <span asp-validation-for="Image" class="text-danger"></span>
        </div> *@
        <div class="form-group">
            <label asp-for="StartDate" class="control-label">Ngày bắt đầu </label>
            <input asp-for="StartDate" class="form-control" />
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="StartEnd" class="control-label">Ngày kết thúc</label>
            <input asp-for="StartEnd" class="form-control" />
            <span asp-validation-for="StartEnd" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="RegistrationDeadline" class="control-label">Hạn đăng ký</label>
            <input asp-for="RegistrationDeadline" class="form-control" />
            <span asp-validation-for="RegistrationDeadline" class="text-danger"></span>
        </div>

        <div class="form-group" id="instructorFormGroup">
            <label asp-for="Instructor" class="control-label">Giảng viên</label>
            <input asp-for="Instructor" class="form-control" />
            <span asp-validation-for="Instructor" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label"></label>
            <input type="checkbox" id="toggleInstructor" />
            <span>Click vào đây sẽ lấy tên trong hồ sơ tài khoản của bạn!</span>
        </div>

        <div class="form-group">
            <label asp-for="MaxAttdendees" class="control-label">Số học viên tối đa</label>
            <input asp-for="MaxAttdendees" class="form-control" />
            <span asp-validation-for="MaxAttdendees" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Thể Loại:</label>
            @foreach (var category in ViewBag.Categories)
            {
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="selectedCategories" value="@category.Value" />
                        @category.Text
                    </label>
                </div>
            }
        </div>

        <div class="form-group">
            <input type="submit" value="Thêm khóa học" class="btn btn-outline-primary" />
        </div>
    </form>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-danger">Quay lại</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            $('#toggleInstructor').change(function () {
                if ($(this).is(':checked')) {
                    $('#instructorFormGroup').hide();
                    $('#instructorFormGroup input').val('');
                } else {
                    $('#instructorFormGroup').show();
                }
            });
         
        });
    </script>
}
