@* @model IEnumerable<EasyLearing.Infrastructure.Data.Entities.ApplicationUser>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/admin/Views/Shared/AdminViewShared.cshtml";
}



<table class="table">
    <thead>
        <tr>
            
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    
                </tr>
            }
        }
    </tbody>
</table>
 *@