@model EasyLearning.WebApp.Models.ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/AuthenticationViewShared.cshtml";
}

<div class="container">
    <form asp-action="ResetPassword" asp-controller="Account" method="post" id="resetPasswordForm">
        <div class="logindiv">
            <input type="hidden" asp-for="Email" />

            <div class="form-floating form-floating-outline mb-3">
                <input style="border-color: #06BBCC;" type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Nhập mật khẩu mới" asp-for="NewPassword" required />
                <label style="color: #06BBCC;" for="newPassword">Mật khẩu mới</label>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>

            <div class="form-floating form-floating-outline mb-3">
                <input style="border-color: #06BBCC;" type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Xác nhận mật khẩu" asp-for="ConfirmPassword" required />
                <label style="color: #06BBCC;" for="confirmPassword">Xác nhận mật khẩu</label>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <button style="background-color: #06BBCC; border-color: #06BBCC;" type="submit" class="btn btn-primary d-grid w-100">Đặt lại mật khẩu</button>
        </div>
    </form>
</div>
