@{
    ViewData["Title"] = "Payment Failure";
}

<div style="display: flex; justify-content: center; align-items: center; flex-direction: column">
    <img style="width: 100px" src="https://cdn-icons-png.freepik.com/256/11450/11450177.png" />
    <h1>Thanh toán thất bại!</h1>
    <a asp-controller="CustomerCourses" asp-action="ListCourse" class="btn btn-primary" style="border-radius: 10px">Quay lại khóa học</a>
</div>
