@model EasyLearing.Infrastructure.Data.Entities.TranningPart

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/admin/Views/Shared/AdminViewShared.cshtml";
}

<h1>Tạo </h1>

<h4>Nội Dung</h4>
<hr />
    <div class="container">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <p>Mã khóa học: @ViewBag.CourseId</p>
            <input type="hidden" id="CoursesId" name="CoursesId" value="@ViewBag.CourseId" />
            <div class="form-group">
                <label asp-for="TranningPartName" class="control-label">Tên nội dung</label>
                <input asp-for="TranningPartName" class="form-control" />
                <span asp-validation-for="TranningPartName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label">Thời gian bắt đầu</label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label">thời gian kết thúc</label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Chi tiết</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
  
            <div class="form-group">
                <input type="submit" value="Tạo" class="btn btn-outline-primary" />
            </div>
        </form>
    </div>


<div>
    <a asp-action="Index" asp-controller="Course" class="btn btn-outline-danger">Quay lại</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
